@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
@font-face {
  font-family: Craftsman;
  src: url(fonts/logoFont.ttf);
}

:root {
  --linkColor: #95e56a;
  --mainTextColor:#e1e1e1;
  --secondaryTextColor:#828282;
  --backroundColor: #242323;
  --mainFontSize: 1em;
  --secondaryFontSize: 0.75em;
  --borderPadding: 1em;
  --largeBreak: 5em;
  --mainFont: 'roboto mono';
  --logoSize: 5em;
  --colaRed: #F40009;
  --babyBlue: #89CFF8;
  --grapeFruit: #FF5349;
  --artSubtitleWidth: 5em;
}

body {
  background-color: var(--backroundColor);
  color: var(--mainTextColor);
  font-family: var(--mainFont);
}

/*Scroll Stuff*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  text-align: center;
  font-family: Craftsman;
  font-size: var(--logoSize);
  text-decoration: none;
  color: var(--colaRed);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: auto;
  padding-left: 0.5em;
}

.logo:hover {
  color: var(--babyBlue);
}

.menu {
  text-align: right;
  list-style: none;
  font-size: var(--secondaryFontSize);
  margin-left: auto;
  margin-right: 3em;
  padding: 1em 0;
}

.menuLink {
  text-decoration: none;
  color: var(--mainTextColor);
}

.menuLink:hover {
  font-weight: 200;
}

.introduction {
  word-wrap: break-word;
  width: 25em;
  font-size: var(--mainFontSize);
}

.textImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--largeBreak) var(--borderPadding);
}

.summary {
  background-color: red;
  margin: 0 1em 1em 0;
  text-align: left;
  -webkit-box-flex: 9;
      -ms-flex: 9 25px;
          flex: 9 25px;
  font-size: var(--mainFontSize);
  color: #e1e1e1;
}

.img1 {
  background-color: blue;
  text-align: right;
  margin-left: auto;
  -webkit-box-flex: 6;
      -ms-flex: 6 25px;
          flex: 6 25px;
}

.img2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 6;
      -ms-flex: 6 25px;
          flex: 6 25px;
  margin-left: auto;
}

.scaleImg1 {
  width: 100%;
  height: auto;
  min-width: 40vw;
}

.scaleImg2 {
  width: 100%;
  height: auto;
  min-width: 30vw;
}

.font2 {
  font-size: var(--secondaryFontSize);
}

.RFloat {
  float: right;
}

.sectionTitle {
  color: var(--secondaryTextColor);
  font-size: var(--secondaryFontSize);
}

.link {
  color: var(--linkColor);
}

.LRPadding {
  padding: 0 var(--borderPadding) 0;
}

.LRBPadding {
  padding: 0 var(--borderPadding) var(--borderPadding) var(--borderPadding);
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle {
  -webkit-box-flex: 5;
      -ms-flex: 5 25px;
          flex: 5 25px;
  text-align: center;
  color: var(--secondaryTextColor);
}

.art {
  background-color: red;
  -webkit-box-flex: 10;
      -ms-flex: 10 25px;
          flex: 10 25px;
}

.scroll-down .navbar {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.scroll-up .navbar {
  background-color: #151515;
}

.scroll-up .navbar .logo {
  color: #F7F6CF;
}

.topMargin {
  margin-top: 8em;
}
/*# sourceMappingURL=main.css.map */