@font-face {
  font-family: Craftsman;
  src: url(fonts/logoFont.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

// variables
:root{
  --linkColor: #95e56a;
  --mainTextColor:#e1e1e1;
  --secondaryTextColor:#828282;
  --backroundColor: #242323;
  --mainFontSize: 1em;
  --secondaryFontSize: 0.75em;
  --borderPadding: 1em;
  --largeBreak: 5em;
  --mainFont: 'roboto mono';
  --logoSize: 5em;

  --colaRed: #F40009;
  --babyBlue: #89CFF8;
  --grapeFruit: #FF5349;

  --artSubtitleWidth: 5em;
}


// main body


body{

  //margin:2px;
  margin: 0;
 background-color: var(--backroundColor);
 color: var(--mainTextColor);
 font-family:var(--mainFont);
}

/*Scroll Stuff*/


.navbar{

  //background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transition: all 0.3s;
  width: 100%;

  justify-content: center;
  align-items: center;
  display: flex;

}

.logo{

  text-align: center;
  font-family: Craftsman;
  font-size: var(--logoSize);
  text-decoration: none;
  color: var(--colaRed);
  transition: 0.4s;
  margin-left: auto;
  padding-left: 0.5em;
}
.logo:hover{
  color: var(--babyBlue);
}

.menu{

  text-align: right;
  list-style: none;
  font-size: var(--secondaryFontSize);
  //float: right;
  margin-left: auto;
  margin-right: 3em;
  padding: 1em 0;
}

// Specifically for Menu

.menuLink{
  text-decoration: none;
  color: var(--mainTextColor);
}
.menuLink:hover{
  font-weight: 200;
}

.introduction {
  word-wrap: break-word;
  width: 25em;
  font-size: var(--mainFontSize);
}

// Main Layout
.textImg{

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: var(--largeBreak) var(--borderPadding);

}

.summary{

  margin: 0 1em 1em 0;
  text-align: left;
  flex: 3 150px;

  font-size: var(--mainFontSize);
  color: rgb(225, 225, 225);
  }

.img1{

  text-align: right;
  margin-left: auto;
  flex: 2 150px;
 // max-width: 500px;
}

.img2{

  text-align: center;
  display: flex;
  flex: 2 150px;
  float: right;
  margin-left: auto;
}


.scaleImg1{
  width: 100%;
  height: auto;
  min-width: 40vw;
}


.scaleImg2{
  width: 100%;
  height: auto;
  min-width: 30vw;

}

// Features

.font2{
  font-size: var(--secondaryFontSize);
}
.RFloat{
  float: right;
}

.sectionTitle{

  color: var(--secondaryTextColor);
  font-size: var(--secondaryFontSize);
  
}

.link{
  color: var(--linkColor);
}


.LRPadding{
  padding: 0 var(--borderPadding) 0;
}

.LRBPadding{
  padding: 0 var(--borderPadding) var(--borderPadding) var(--borderPadding);
}

// Art

.photos{

  display: flex;
  flex-flow: row wrap;
  align-items: center;

}

.subtitle{

  flex: 1 250px;
  text-align: center;
  color: var(--secondaryTextColor);

}

.art{

  background-color: red;
  flex: 2 250px;

}

.scroll-down .navbar{
  transform: translate3d(0, -100%, 0);
}

.scroll-up .navbar{
  background-color: #151515;
  .logo{
    color:#F7F6CF;
  }
}

.topMargin{
  margin-top: 8em;
}



