@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');


// variables
:root{
  --linkColor: #95e56a;
  --mainTextColor:#e1e1e1;
  --secondaryTextColor:#828282;
  --mainFontSize: 1em;
  --secondaryFontSize: 0.75em;
}


// main body
body{
 background-color: #242323;
 color: var(--mainTextColor);
font-family: 'roboto mono';
}


.topbar{

  display: flex;
  align-items: center;

  .introduction {
    height: 11em;
    padding-left: 1em;
    word-wrap: break-word;
    width: 25em;
    font-size: var(--mainFontSize);
  }

  .menu{
    text-align: right;
    list-style: none;
    font-size: var(--secondaryFontSize);
    float: right;
    margin-left: auto;
    padding-right: 2em;

  }

}

.menuLink{
  text-decoration: none;
  color: var(--mainTextColor);
}
.menuLink:hover{
  font-weight: 200;
}

//Shoes

#shoes{
  display: flex;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}
#shoeMsg{
  padding-right: 1em;
  font-size: var(--secondaryFontSize);
  float: right;
}


#featured{

  padding-left: 00.75em;
  display: flex;
  align-items: center;
  color: var(--secondaryTextColor);
  font-size: var(--secondaryFontSize);
  
}

// featured


.textImg{

  display: flex;
  align-items: center;
  margin: 0.5em;

}

.summary{
  float: left;
  max-width: 100%;
  text-align: left;


  font-size: var(--mainFontSize);
  color: rgb(225, 225, 225);
  padding: 0.5em;
  }

.image{
  float: right;
  width: auto;
  margin-left: auto;
  padding: 0.5em;
  }


// Major Classes and Initializations

.scaleImage{
  width: 100%;
  height: auto;
  min-width: 40vw;
}

.link{
  color: var(--linkColor);
}


 #viewMore{
  padding: 1em;
  float: right;
  margin-left: auto;
  font-size: var(--mainFontSize);
}
