@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');


// variables
:root{
  --linkColor: #95e56a;
  --mainTextColor:#e1e1e1;
}


// main body
body{
 background-color: #242323;
 color: var(--mainTextColor);
font-family: 'roboto mono';
}


.topbar{

 display: flex;
 align-items: center;

 .introduction {
   height: 11em;
   padding-left: 2em;
   word-wrap: break-word;
   width: 30em;
   font-size: 2em;
 }

 .menu{
   text-align: right;
   list-style: none;
   font-size: 1.5em;
   float: right;
   margin-left: auto;
   padding-right: 5em;

 }
}

.menuLink{
 text-decoration: none;
 color: var(--mainTextColor);
}

.menuLink:hover{
 font-weight: 200;
}

/*
#arduinoIMG{
 //padding: 1em;
}
 */

.textImg{

 display: flex;
 align-items: center;
 padding: 1em;
 padding-top: 10em;
 padding-bottom: 10em;
}

.textImgB{
 display: flex;
 align-items: center;
 padding: 1em;
 padding-top: 10em;
 padding-bottom: 10em;
 background-color: #3f3d3d;
}

.summary{
  float: left;
  max-width: 100%;
  text-align: left;


  font-size: 2em;
  color: rgb(225, 225, 225);
  padding: 1em;
  }

.image{
  float: right;
  width: auto;
  margin-left: auto;

  padding: 1em;
  }

  .img2{
   display: flex;
   float: right;
   margin-left: auto;
   padding: 3em;
 }


// Major Classes and Initializations

.scaleImage{
  width: 100%;
  height: auto;
  min-width: 40vw;
}

.scaleImg2{
 width: 100%;
 height: auto;
 min-width: 30vw;
}

.link{
  color: var(--linkColor);
}

